body {
    font-family: Arial, sans-serif;
    background-color: #aacfc1 !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 90px auto 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-x: auto; 
}

/* Custom navbar styles */
.navbar-custom {
    background-color: #E8F6F3 !important; /* Change this color to whatever you want */
}

.navbar-custom .navbar-brand {
    color: #ffffff; /* Brand text color */
}

.navbar-custom .navbar-brand:hover {
    color: #d4d4d4; /* Brand text hover color */
}

.navbar-custom .nav-link {
    color: black; /* Link text color */
}

.navbar-custom .nav-link:hover {
    color: #d4d4d4; /* Link text hover color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-style: oblique;
    font-weight: 300;
    color: black;
    font-size: 20px; /* Adjust font size as needed */
}

h1 {
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
}

.table {
    margin-top: 50px;
}

/* Table styling */
.table {
    margin-top: 20px;
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
    text-align: center;
}

.table th, .table td {
    border: 1px solid #ddd;
  
    
    text-align: center;
  
}

.table th {
    background-color: #79ba9c;
    color: white;
    font-size: 13px;
}

.table td {
    background-color: #f2f2f2;
    font-size: 14px;
    white-space: nowrap;
}

.table-responsive {
    overflow-x: auto;
}

.div1{
    display: flex;
    justify-content: center;
}

.btn-custom {
    background-color: #c2e9a7 !important; /* Custom button color */
    border-color: #c7f4f5 !important; /* Custom button border color */
    color: rgb(0, 0, 0) !important; /* Custom button text color */
}

.btn-custom:hover {
    background-color: #f2cae8!important; /* Hover background color */
    border-color: #bfeebf !important; /* Hover border color */
}

.btn-success{
    background-color: #f2cae8 !important; /* Custom button color */
    border-color: #c7f4f5 !important; /* Custom button border color */
    color: rgb(0, 0, 0) !important; /* Custom button text color */
}
.btn-success:hover{ background-color: #c2e9a7!important; /* Hover background color */
    border-color: #bfeebf !important; /* Hover border color */
}










/* Custom styles for different phases */
.menstrual-phase {
    background-color: #ffcccc !important; /* Light red background for Menstrual Phase */
    color: #b30000 !important; /* Darker red text color */
}

.follicular-phase {
    background-color: #ccffcc !important; /* Light green background for Follicular Phase */
    color: #006600 !important; /* Darker green text color */
}

.luteal-phase {
    background-color: #ffffcc !important; /* Light yellow background for Luteal Phase */
    color: #b38f00 !important; /* Darker yellow text color */
}


/* .table td:nth-child(8), */
.table td:nth-child(9) {
    background-color: #ffcccc; /* Light red background for specific columns */
    color: #b30000; /* Darker red text color */
}